package vauth;

import "github.com/naqet/company-management-system/views/layout"

templ Header() {
<header class="container">
    <nav>
        <ul>
            <li><a href="/">@vlayout.Logo()</a></li>
        </ul>
    </nav>
</header>
}
