package vlayout;

templ Header() {
	<header class="container">
		<nav>
			<ul>
				<li>Hello</li>
			</ul>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
		</nav>
	</header>
}
